/* ------------RESET CSS---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/* ------------RESET CSS---------- */
/* font upload-- */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=DM+Serif+Text:ital@0;1&family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --font-1: "Public Sans", sans-serif;
  --font-2: "DM Serif Display", serif;

  /* monospace
    */
  /* --font-mono : Consolas, "Andale Mono", Courier, "Courier New", monospace; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-2);
}
li,
p,
a,
span,
li,
input,
button {
  font-family: var(--font-1);
}
/* font upload-- */
.heading-font {
  font-family: var(--font-2);
}
.text-font {
  font-family: var(--font-1);
}
/*---------------------------- color------------------- */
:root {
  --color-1: hsla(36, 72%, 70%, 1);
  --color-2: hsla(168, 62%, 36%, 1);
  --color-3: white;
  --color-4: #5b5b5c;
  --color-5: #2c2c2d;
  --color-6: black;
  --color-7: rgba(255, 255, 255, 0.5);
  --color-8: #161618;
}
.black-bg-color {
  background-color: var(--color-6);
}
.black-color {
  color: var(--color-6);
}
.text-color-color {
  color: var(--color-3);
}
.text-pre-heading-color {
  color: var(--color-1);
}
.text-small-color {
  color: var(--color-4);
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
body {
  background-color: var(--color-8);
  padding: 0 20px;
  scroll-behavior: smooth;
}
/*----------------------------- common css---------------------------- */
.nav-main {
  width: 100%;
}
.logo {
  display: none;
}
.menu-btn {
  display: none;
}
.menu-btn i {
  color: var(--color-3);
  font-size: 20px;
}
.nav-main ul {
  margin: 0 auto;
  padding: px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-4);
  text-decoration: none;
  list-style: none;

  /* border: 1px solid var(--color-4); */
  /* border-left: 0px solid var(--color-4);
  border-right: 0px solid var(--color-4); */
}
.nav-main li {
  border: 1px solid var(--color-4);
  text-align: left;
  text-decoration: none;
  padding: 1.5rem 0;
}
.nav-main li a {
  text-decoration: none;
  padding: 1.6rem 8.8rem 1.5rem 2rem;
  color: var(--color-3);
  font-size: 10px;
  letter-spacing: 4px;
  list-style: none;
  text-transform: uppercase;
}
.nav-main li :hover {
  background-color: var(--color-5);
  color: var(--color-1);
}
/*-------------------------- hero banner----------------------- */
.hero-main {
  position: relative;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
  padding: 5rem 1rem 0 5.5rem;
}
.hero-1st {
  width: 78%;
}
.hero-2nd {
  width: 19%;
}
.pre-heading {
  color: var(--color-1);
  font-size: 17px;
  padding-left: 70px;
  letter-spacing: 5px;
  position: relative;
  text-transform: uppercase;
}
.pre-heading::before {
  content: "";
  width: 40px;
  height: 2px;
  background-color: var(--color-7);
  position: absolute;
  top: 14px;
  left: 5px;
}
.hero-main h1 {
  color: white;
  font-size: 107px;
  line-height: 100px;
  font-weight: 700;
  max-width: 700px;
}
.hero-1st {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-2nd {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  justify-content: center;
  align-items: center;
}
.hero-2nd a {
  letter-spacing: 4px;
  text-decoration: none;
  rotate: 90deg;
  color: var(--color-4);
  text-transform: uppercase;
}
.hero-2nd a:hover {
  color: var(--color-3);
}
.hero-2nd p {
  rotate: 90deg;
  font-size: 14px;
}
.hero-2nd img {
  width: 40px;
}
/*-------------------------- hero banner----------------------- */

.about-section {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
}
.img-about {
  width: 48%;
  position: relative;
  text-align: center;
}
.img-about img {
  width: 100%;
  max-width: 550px;
  object-fit: cover;
  object-position: center;
}
.details-about {
  position: relative;
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.details-p {
  font-size: 23px;
  line-height: 40px;
  color: var(--color-3);
  max-width: 600px;
}
.details-about button {
  max-width: 550px;
  background-color: var(--color-5);
  border: 0;
  border-radius: 0;
  box-shadow: 0;
  padding: 30px 0;
  transition: all 0.3s ease-in-out;
}
.details-about button a {
  color: var(--color-1);
  letter-spacing: 4px;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 4px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.details-about button:hover a {
  color: var(--color-5);
  letter-spacing: 5px;
  font-weight: 600;
}
.details-about button:hover {
  background-color: var(--color-3);
}

/*-------------------- expertise section-------------- */
.expertise-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 120px;
  position: relative;
}
.expertise-1st-row {
  display: flex;
  flex-direction: column;
  position: relative;
}
.expertise-1st-row h2 {
  font-size: 58px;
  line-height: 90px;
  font-weight: 700;
  color: var(--color-3);
  max-width: 1230px;
}
.card-p {
  letter-spacing: 4px;
  font-size: 16px;
  text-transform: uppercase;
}
.details-name {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.name {
  font-size: 30px;
  font-weight: 700;
}
.designation {
  font-size: 20px;
  font-weight: 200;
}
.time {
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--color-4);
}
.exp-note {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0;
  max-width: 500px;
  color: var(--color-4);
}
.card-experience li {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0;
  max-width: 500px;
  color: var(--color-4);
}
.expertise-2nd-row {
  display: flex;
  justify-content: space-between;
  padding: 5rem 1rem 0 8.5rem;
}
.second-row-1st-coloum {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 75px;
  column-gap: 10px;
  color: var(--color-3);
}

.card-main {
  width: 44%;
  position: relative;
}
.card-experience {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  position: relative;
}
.card-experience::before {
  content: "";
  width: 1px;
  height: 100%;
  min-height: 260px;
  background-color: var(--color-7);
  position: absolute;
  top: 5px;
  left: -44px;
  opacity: 0.3;
}
.timeline-bullet {
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: var(--color-1);
  position: absolute;
  top: 5px;
  left: -47px;
}

/*---------------------------- works section--------------------------------- */
.works-main {
  display: flex;
  flex-direction: column;
  gap: 100px;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}
.works-1st-row {
  display: flex;
  flex-direction: column;
}
.works-1st-row h2 {
  font-size: 58px;
  line-height: 90px;
  color: var(--color-3);
  font-weight: 700;
  max-width: 1230px;
}

.work-description {
  border-top: 1px solid var(--color-4);
  padding: 10px;
  grid-area: 10px;
}
.work-second-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 0 60px;
}
.des-icon i {
  color: var(--color-7);
  rotate: 50deg;
}
.work-card {
  display: flex;
  width: 48%;
  gap: 30px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.work-image {
  width: 30%;
}
.work-image img {
  max-width: 143px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}
.work-description {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.work-description a {
  text-decoration: none;
}
.des-1st-col {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.des-1st-col p:first-child {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-4);
  text-decoration: none;
}
.des-1st-col p:last-child {
  font-size: 22px;
  font-weight: 500;
  color: var(--color-3);
  text-decoration: none;
}
.work-card:hover .work-description p:last-child {
  color: var(--color-1);
  transition: all 0.5s ease-in-out;
}
/* .work-card:hover .work-image img {
  opacity: 1;
  background-color: white;
  transition: all 0.5s ease-in-out;
} */
.work-card:hover .des-icon i {
  rotate: 30deg;
  transition: all 0.5s ease-in-out;
}
.work-card:hover .work-description {
  border-top: 1px solid var(--color-1);
  transition: all 0.5s ease-in-out;
}

/*-------------------------------- say hello section----------------------------- */
.hello-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  gap: 80px;
}
.hello-2nd-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
  width: 88%;
}
.hello-2nd-row-col {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.fst-col-1st {
  color: var(--color-3);
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.fst-col-2nd {
  color: var(--color-4);
  font-size: 22px;
  margin-bottom: 10px;
}
.fst-col {
  width: 30%;
}

.scnd-col {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 20px;
  width: 30%;
}
.thrd-col {
  width: 40%;
}
.Social-sites a {
  text-decoration: none;
  color: var(--color-4);
  font-size: 22px;
}
.Social-sites {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.Social-sites a:hover {
  color: var(--color-1);
}
.thrd-col button {
  max-width: 550px;
  background-color: var(--color-5);
  border: 0;
  border-radius: 0;
  box-shadow: 0;
  padding: 30px 0;
  transition: all 0.3s ease-in-out;
}
.thrd-col button a {
  color: var(--color-1);
  letter-spacing: 4px;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 4px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.thrd-col button:hover a {
  color: var(--color-5);
  letter-spacing: 5px;
  font-weight: 600;
}
.thrd-col button:hover {
  background-color: var(--color-3);
}
@media screen and (max-width: 760px) {
  .logo {
    display: block;

    text-decoration: none;
    color: var(--color-3);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 4px;
    list-style: none;
    /* text-transform: uppercase; */
  }
  .logo a {
    text-decoration: none;
    color: var(--color-3);
  }
  .menu-btn {
    display: block;
  }
  #menu-btn-close {
    display: none;
  }
  .nav-main {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 1.4rem 0;
  }
  .nav-main ul {
    display: none;
    background-color: var(--color-8);
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0px;
    top: 60px;
    z-index: 222;
  }
  .nav-main li {
    display: inline-block;
    border: 0px;
    width: 100%;
    text-decoration: none;
    padding: 1.5rem;
  }
  .nav-main li:hover {
    background-color: var(--color-5);
    color: var(--color-1);
  }
  .nav-main li a {
    font-size: 14px;
    padding: 0;
  }
  .pre-heading {
    font-size: 14px;
    padding-left: 60px;
  }
  .pre-heading::before {
    top: 10px;
  }
  .hero-main {
    padding: 20px 0;
    gap: 20px;
    flex-direction: column;
  }
  .hero-1st {
    width: 100%;
  }
  .hero-2nd {
    width: 100%;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    align-items: unset;
    justify-content: unset;
  }
  .hero-2nd p {
    rotate: 0deg;
  }
  .hero-1st h1 {
    font-size: 51px;
    line-height: 51px;
  }
  .about-section {
    margin-top: 30px;
    gap: 30px;
  }
  .img-about {
    width: 100%;
  }
  .details-p {
    font-size: 15px;
    line-height: 25px;
  }

  .details-about {
    width: 100%;
  }
  .expertise-section {
    margin-top: 30px;
    padding: 0;
    gap: 30px;
  }
  .expertise-1st-row {
    gap: 30px;
  }
  .expertise-section h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .card-main {
    width: 100%;
  }
  .timeline-bullet {
    left: -23px;
  }
  .card-experience::before {
    left: -20px;
    min-height: 100px;
  }
  .expertise-2nd-row {
    padding: 0 20px;
  }
  .works-1st-row h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .work-second-row {
    padding: 0;
  }
  .works-main {
    margin-top: 30px;
    padding: 0;
  }
  .work-card {
    width: 100%;
    gap: 10px;
    flex-direction: column;
  }
  .work-image {
    width: 100%;
  }

  .work-description {
    gap: 10px;
    width: 100%;
    border-top: 0;
    border-bottom: 1px solid var(--color-4);
  }
  .work-card:hover .work-description {
    border-top: 0;
    border-bottom: 1px solid var(--color-1);
    transition: all 0.5s ease-in-out;
  }
  .des-1st-col p {
    max-width: 200px;
  }
  .des-1st-col p:last-child {
    font-size: 15px;
  }
  .hello-main {
    margin: 50px 0 60px 0;
    align-items: flex-start;
  }
  .hello-2nd-row {
    flex-direction: column;
  }
  .hello-2nd-row-col {
    width: 100%;
  }
}
@media screen and (min-width: 1570px) {
  .nav-main li a {
    padding: 1.6rem 10rem 1.5rem 2rem;
  }
  .hero-main {
    padding: 5rem 1rem 0 8rem;
  }
  .hero-2nd {
    gap: 6.5rem;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1263px) {
  .nav-main li a {
    padding: 1.6rem 5.8rem 1.5rem 2rem;
  }
}
@media screen and (min-width: 761px) and (max-width: 999px) {
  .nav-main li a {
    padding: 1.6rem 3rem 1.6rem 1.2rem;
  }
  .hero-1st {
    gap: 10px;
  }
  .hero-1st h1 {
    font-size: 60px;
    line-height: 71px;
  }
  .hero-2nd {
    gap: 4.5rem;
  }
  .hero-2nd p {
    font-size: 10px;
  }
  .hero-2nd a {
    letter-spacing: 2px;
  }
  .hero-2nd img {
    width: 30px;
  }
  .about-section {
    margin-top: 30px;
    gap: 20px;
  }
  .pre-heading {
    font-size: 16px;
    padding-left: 65px;
    padding-top: 2px;
  }
  .details-p {
    font-size: 15px;
    line-height: 26px;
  }
  .expertise-section {
    margin-top: 30px;
    gap: 50px;
  }
  .expertise-1st-row h2 {
    font-size: 48px;
    line-height: 58px;
  }
  .expertise-2nd-row {
    padding: 2rem 1rem 0 3.5rem;
  }
  .name {
    font-size: 25px;
  }
  .designation {
    font-size: 16px;
  }
  .exp-note {
    font-size: 15px;
    line-height: 25px;
  }
  .card-experience {
    gap: 22px;
  }
  .card-experience::before {
    left: -28px;
  }
  .timeline-bullet {
    top: 3px;
    left: -31px;
  }
  .second-row-1st-coloum {
    row-gap: 40px;
  }
  .works-main {
    margin-top: 50px;
  }
  .works-1st-row h2 {
    font-size: 48px;
    line-height: 58px;
  }
  .work-second-row {
    padding: 0 20px;
  }
  .work-card {
    gap: 14px;
    justify-content: space-evenly;
  }
  .work-card {
    width: 100%;
  }
  .hello-main {
    margin-top: 50px;
    gap: 70px;
  }
  .hello-2nd-row {
    width: 100%;
  }
  .fst-col-2nd {
    font-size: 18px;
  }
  .Social-sites a {
    font-size: 18px;
  }
}
