/* ------------RESET CSS---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ------------RESET CSS---------- */
/* font upload-- */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=DM+Serif+Text:ital@0;1&family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --font-1: "Public Sans", sans-serif;
  --font-2: "DM Serif Display", serif;

  /* monospace
    */
  /* --font-mono : Consolas, "Andale Mono", Courier, "Courier New", monospace; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-2);
}
p,
a,
span,
li,
input,
button {
  font-family: var(--font-1);
}
/* font upload-- */
.heading-font {
  font-family: var(--font-2);
}
.text-font {
  font-family: var(--font-1);
}
/*---------------------------- color------------------- */
:root {
  --color-1: hsla(36, 72%, 70%, 1);
  --color-2: hsla(168, 62%, 36%, 1);
  --color-3: white;
  --color-4: #5b5b5c;
  --color-5: #2c2c2d;
  --color-6: black;
  --color-7: rgba(255, 255, 255, 0.5);
}
.black-bg-color {
  background-color: var(--color-6);
}
.black-color {
  color: var(--color-6);
}
.text-color-color {
  color: var(--color-3);
}
.text-pre-heading-color {
  color: var(--color-1);
}
.text-small-color {
  color: var(--color-4);
}
.container {
  width: 1440px;
  margin: 0 auto;
}
body {
  background-color: #161618;
  padding: 0 20px;
  scroll-behavior: smooth;
}
/*----------------------------- common css---------------------------- */

.hero-main {
  position: relative;
  padding: 4rem 0rem 0 5rem;
}
.nav-main ul {
  margin: 0 auto;
  padding: px 0;
  /* border: 1px solid var(--color-4); */
  /* border-left: 0px solid var(--color-4);
  border-right: 0px solid var(--color-4); */
}
.nav-main li {
  padding: 25px 150px 25px 20px;
  border: 1px solid var(--color-4);
  letter-spacing: 5px;
  text-align: left;
}
.nav-main li:hover {
  background-color: var(--color-5);
  color: var(--color-1);
}
.pre-heading {
  padding-left: 60px;
  letter-spacing: 5px;
}
.pre-heading::before {
  content: "";
  width: 40px;
  height: 2px;
  background-color: var(--color-7);
  position: absolute;
  top: 15px;
  left: 0;
}
.hero-2nd p {
  letter-spacing: 4px;
}
.about-section {
  margin-top: 100px;
  display: flex;
  gap: 20px;
}
/* .img-about {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(44, 43, 43, 0.3);
  z-index: 99999999;
} */
.details-about {
  position: relative;
  width: 50%;
}
.details-about button {
  width: 80%;
  background-color: #2c2c2d;
  color: var(--color-1);
  letter-spacing: 4px;
  border: 0;
  border-radius: 0;
  box-shadow: 0;
  padding: 30px 0;
}
.expertise-section {
  position: relative;
  padding: 4rem 0rem 0 5rem;
}

.card-p {
  letter-spacing: 4px;
}
.expertise-2nd-row {
  display: flex;
  justify-content: space-between;
}
.exp-note {
  letter-spacing: 0;
}
.card-experience {
  position: relative;
}
.card-experience::before {
  content: "";
  width: 1px;
  height: 100%;
  min-height: 380px;
  background-color: var(--color-7);
  position: absolute;
  top: 5px;
  left: -44px;
  opacity: 0.3;
}
.works-main {
  position: relative;
  padding: 4rem 0rem 0 5rem;
  margin-top: 100px;
}
.timeline-bullet {
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: var(--color-1);
  position: absolute;
  top: 6px;
  left: -48px;
}
.works-main {
  position: relative;
  padding: 4rem 0rem 0 5rem;
}

.work-description {
  border-top: 1px solid var(--color-4);
  padding: 10px;
}
.des-icon img {
  rotate: -40deg;
}
